<!DOCTYPE html>
<html lang="en-US"> 
    <head>
    <body>
        <h1>Squirrel Sites </h1>
        <p title ="copyright"  style="color: goldenrod"> Group Projects of Tools for Analytics by MingJin and Yixuan Ma.</p>
        <hr>
	<h3>
		<li><a href="add/">add more Squirrel site here</a></li>
	</h3>
        <h2> List of All Squirrels in Central Park</h2>
        <ul>
	   	 {% for sq in squirrels %}
	   	 <li>
			 <a href="{{ sq.Unique_Squirrel_ID }}/">{{ sq.Unique_Squirrel_ID }}</a>
	    	 </li>
                 {% endfor %}
        </ul>
    </body>
    </head>
</html>
